[submodule "fundamentos/bloco_6/dia_3/fundamentos/bloco_6/dia_3/exercise-tech-gallery"]
	path = fundamentos/bloco_6/dia_3/fundamentos/bloco_6/dia_3/exercise-tech-gallery
	url = https://github.com/Tiagu99/exercise-tech-gallery
