body {
  font-size: 35px;
  margin: 10px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

img {
    max-width: 100%;
}

figure {
    margin: 20px;
}

@media screen and (min-width: 650px) {
  body {
    font-size: 25px;
    margin: 20px;
    background-color: khaki;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
  
  img {
    width: 280px;
  }

  .figure-container {
    display: flex;
    flex-wrap: wrap;
  }
  
}