.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-text {
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 598;
  text-align: center;
}

.type-button {
  background-color: orange;
  height: 50px;
  margin: 10px;
  width: 80px;
}

.next-button {
  background-color: green;
  height: 50px;
  width: 100px;
}

.next-button:disabled {
  background-color: #D0D0D0;
}
