div:hover:nth-of-type(1){
    border: 1px solid black;
}

div:hover:nth-of-type(2) {
    border: 1px solid red;
}

div:hover:nth-of-type(3) {
    border: 1px solid blue;
}

div:hover:nth-of-type(4) {
    border: 1px solid orange;
}

div:hover:nth-of-type(5) {
    border: 1px solid purple;
}

div:nth-of-type(1) h3{
    color: black;
    font-size: 30px;
}

div:nth-of-type(2) h3{
    color: red;
    font-size: 30px;
}

div:nth-of-type(3) h3{
    color: blue;
    font-size: 30px;
}

div:nth-of-type(4) h3{
    color: orange;
    font-size: 30px;
}

div:nth-of-type(5) h3{
    color: purple;
    font-size: 30px;
}

div:nth-of-type(odd) h3{
    font-style: italic;
}

